  
/* ==========================================================================
  business-plan Section 
   ========================================================================== */
  #business-plan{
    padding-bottom: 130px;
    .container-fluid{
      padding-right: 30px;
      padding-left: 30px;
    }
    .business-item-info{
      margin-top: 60px;
      h3{
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 25px;
      }
      p{
        font-size: 16px;
        margin-bottom: 20px;

        br {
          @media #{$lg} {
            display: none;
          }
        }
      }
    }
  }

