/* ==========================================================================
	Features 
   ========================================================================== */
#features {
	background: $gray_bg;

	.featured-bg {
		background: #fff;
	}

	.featured-border1 {
		border-bottom: 1px solid #ededed;
		border-right: 1px solid #ededed;
	}

	.featured-border2 {
		border-bottom: 1px solid #ededed;
	}

	.featured-border3 {
		border-right: 1px solid #ededed;
	}

	.feature-item {
		padding: 30px;
		overflow: hidden;
		@include transition(.8s);

		.feature-icon {
			background: #e3fff2;
			width: 100px;
			height: 100px;
			margin: 0px auto;
			margin-top: 0px;
			margin-right: auto;
			margin-bottom: 0px;
			text-align: center;
			display: block;
			border-radius: 50%;
			position: relative;
			margin-right: 30px;
			border: 1px solid #3ecf8e;
			margin-top: 12px;

			@media #{$md} {
				margin-right: 15px;
			}
			@media #{$xs} {
				margin-bottom: 30px;
			}

			i {
				font-size: 40px;
				color: #3ecf8e;
				position: absolute;
				left: 0;
				right: 0;
				top: 32%;
			}
		}

		h4 {
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 20px;

			@media #{$md} {
				font-size: 17px;
			}
		}

		p {
			font-size: 16px;
			display: block;

			br {
				@media #{$lg} {
					display: none;
				}
			}
		}

		&:hover {
			@include box-shadow(0px 0px 25px 0px rgba(95, 95, 95, 0.24));
			@include transition(.8s);
		}

		&:hover .feature-icon {
			background: #3ecf8e;
			@include transition(.8s);
		}

		&:hover .feature-icon i {
			color: #fff;
			@include transition(.8s);
		}
	}
}
