  /* ==========================================================================
  team section
   ========================================================================== */
#team {
  .single-team {
    border: 1px solid #ddd;
    margin-bottom: 30px;
    position: relative;
    @include transition(.8s);

    img {
      width: 100%;
    }

    .team-social-icons {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: -20px;

      ul.social-list li {
        display: inline-block;
        width: 35px;
        height: 35px;
        border: 1px solid #ccc;
        border-radius: 50%;
        padding: 5px;
        line-height: 30px;
        margin: 4px;
        background: #fff;
      }

      ul.social-list li:hover {
        background: #3ecf8e;
        border-color: #3ecf8e;
        @include transition(.4s);
      }

      ul.social-list li:hover a {
        display: block;
      }

      ul.social-list li:hover a i {
        color: #fff;
        @include transition(.4s);
      }

      ul.social-list li a i {
        color: #3ecf8e;
        font-size: 16px;
      }
    }

    &:hover {
      @include box-shadow(0px 0px 25px 0px rgba(95, 95, 95, 0.24));
      @include transition(.8s);
    }

    .team-details {
      padding: 45px 0px 30px 0px;
      position: relative;

      h5.team-title {
        font-size: 16px;

        font-weight: 600;

        display: block;

        margin-bottom: 0;
      }

      p {
        font-size: 12px;

        color: #5e629c;
      }
    }
  }
}
