  /* ==========================================================================
  Testimonial section
   ========================================================================== */
#testimonial {
  
  .testimonial-video {
    background: url(../img/bg/testimonial-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  // Testimonial Client section
  .testimonial-area {
    z-index: 12;
    margin-top: -140px;
  }

  #client-testimonial {
    background-color: #fff;
    padding: 54px;
    @include box-shadow(0px 0px 25px 0px rgba(95, 95, 95, 0.24));

    @media #{$xs} {
      padding: 50px 20px;
    }

    .content-inner p {
      font-size: 24px;
      color: #5e629c;
      font-style: italic;
      line-height: 35px;
    }

    .author-info {
      padding-top: 26px;
      padding-bottom: 20px;
    }

    .author-info h5 {
      color: #151948;
      font-size: 18px;
    }

    h5 span {
      font-size: 16px;
      color: #5e629c;
      font-style: italic;
    }

    .client-thumb {
      img {
        max-width: 100px;
        display: inline-block;
      }
    }

    .owl-controls .owl-buttons div.owl-prev {
      color: #3ecf8e;
      display: inline-block;
      zoom: 1;
      *display: inline;
      margin: 5px;
      font-size: 16px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 50px;
      background: #fff;
      filter: Alpha(Opacity=50);
      position: absolute;
      left: -20px;
      top: 48%;
      opacity: 1;
      border: 1px solid #ccc;
      width: 38px;
      height: 38px;
      padding: 8px 0px;
    }

    .owl-controls .owl-buttons div.owl-next {
      color: #3ecf8e;
      display: inline-block;
      zoom: 1;
      *display: inline;
      margin: 5px;
      font-size: 16px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 50px;
      background: #fff;
      filter: Alpha(Opacity=50);
      position: absolute;
      right: -20px;
      top: 48%;
      opacity: 1;
      border: 1px solid #ccc;
      width: 38px;
      height: 38px;
      padding: 8px 0px;
    }

    .owl-controls .owl-buttons div.owl-prev:hover,
    .owl-controls .owl-buttons div.owl-next:hover {
      color: #fff;
      background: #3ecf8e;
      border-color: #3ecf8e;
    }
  }

  // Video Button Scss
  .video-promo-content {
    padding-top: 0;
    padding-bottom: 300px;
  }

  .video-play-button {
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }

  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }

  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    transition: all 200ms;
    opacity: 0.5;
  }

  .video-play-button:hover:after {
    background-color: darken(#4adb9a, 10%);
  }

  .video-play-button:hover span {
    border-left: 22px solid #fff;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-radius: 2px;
  }

  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 22px solid #3ecf8e;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-radius: 2px;
    margin-top: 8px;
    margin-left: 5px;
  }

  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }

    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
}
